.vdf {
    padding: 20px;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    background: white;
    &__title {
        margin: 10px 0px;
        font-weight: bold;
    }
    &__content {
        padding: 10px 0px;
        margin: 20px 0px;
        border-radius: 4px;
    }
    &__actions {
        margin-top: 20px;
    }
}

.vdf-block {
    margin-top: 20px;
    &:first-child {
        margin-top: 0px;
    }
    &__name {
        line-height: 36px;
    }
}